/* Telefones em paisagem e abaixo */
@media (max-width: 480px) {
    body{
        justify-content: center;
        text-align: center;
        margin-right: 0;
        overflow-x: hidden;
        margin: 1em;
    }

   .footer {
    padding-bottom: 80px;
    
}
}
/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
    body{
        justify-content: center;
        text-align: center;
        margin: 1em;
    }
}


/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
    body{
        justify-content: center;
        text-align: center;
        margin: 1em;
    }
}